<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to acts</p>
	 
	  <ul>
	 	  <% for(var i=0; i<data.actions.length; i++) {%>
		  	<li> 
		  		<form method="post" action="/actions/run/<%= data.actions[i].name %>"><input type="submit" value="<%= data.actions[i].name %>" /></form>
	  		</li>
		  <% } %>
	  </ul>
	  
	  <ul>
	 	  <% for(var i=0; i<data.links.length; i++) {%>
		  	<li> 
				<a href="<%= data.links[i].url %>" target="_blank"><%= data.links[i].name %></a>
	  		</li>
		  <% } %>
	  </ul>
	  
	  <ul>
	 	  <% for(var i=0; i<data.monitoring_url.length; i++) {%>
		  	<li>
				<%= data.monitoring_url[i].groupname %> <a href="<%= data.monitoring_url[i].url %>" target="_blank"><%= data.monitoring_url[i].name %></a><br>
				<span><%= data.monitoring_url[i].tooltip %></span> <span><%= data.monitoring_url[i].okstatus %></span>
	  		</li>
		  <% } %>
	  </ul>
	  
  </body>
</html>
